 /* Global styles */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #5c1180; /* Dark background */
    font-family: Arial, sans-serif;
    color: #e0e0e0;
}

/* Main container */
.password-container {
    background-color: #1e1e1e;
    border-radius: 20px; 
    padding: 2rem;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
    text-align: center;
    }

/* Title */
h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

/* Button */
button {
    background-color: #fa18ef;
    color: rgb(194, 151, 151);
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    margin: 1rem 0;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #140b8f;
}

/* Output */
p {
    font-size: 1.2rem;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    background-color: #2a2a2a;
    border-radius: 8px;
    color: #e20909;
}